@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

body {
    font-family: 'montserrat', sans-serif, Arial, Helvetica;
    color: white;
    margin: 0;
}
/* camada do fundo */
body::before {
    content: ""; /* cria a camada do fundo */
    position: absolute; /* tira do fluxo normal da página */
    inset: 0; /* ocupa a tela inteira */
    background: url("imagens/logos/logo da pizzaria.png") center/500px repeat; /* imagem centralizada, repetida e com tamanho 500px */
    opacity: 0.03; /* deixa a imagem bem fraca (efeito marca d'água) */
    z-index: -1; /* joga para trás de todo o conteúdo */
}
.cabecalho{
    background-color: #911C03;
    display: flex; 
    align-items:center; /*Alinha Verticalmente*/
    justify-content: center ; /*Alinha Horizontalmente*/
}
nav a{
    font-weight: bold;
    margin-left: 60px;
    text-decoration: none;
    font-family: 'montserrat';
    color: white;
    font-size: 20px;
}
.textopizzaria{
    color: white;
    width: 200px;
}
.Titulomenu{
    color: black;
}
.produtos{
    display: flex;
    justify-content: start;
    padding: 200px;
    
}
.cardpizza{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: #DBDBDB;
}
.cardpizza img {
    border-radius: 20px;
    width: 300px;
}
.cardpizza h2{
    color: red;
    font-family:'montserrat';
    font-size: 25px;
    font-weight: bold;
    line-height: 10px;
}
.logopizzaria{
    margin-left: 600px;
}
.rodape{
    height:500px;
    background-color: #211E1E;
}